*{
    margin: 0px;
    padding: 0px;
}
 

/* css for header  */

.header{
    height: 90px;
    width: 100%;
    /* background-color: rgba(16, 128, 234, 1); */
    display: flex;
    justify-content: center;
    position: fixed;
}

.container{
    width: 90%;
    /* background-color: red; */
    display: flex;

}

.header_container{
    justify-content: space-between;    
}

.logo{
    height: 80px;
    width: 15%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 5px;
}
.logo img{
    height: 65px;
    width: 100%;
    padding-right: 8px;
    padding-top: 8px;
}
.logo_text{
    font-size: 26px;
    font-family: segoe UI;
    font-weight: bold;
    color:  rgb(250, 250, 248);
    text-transform: uppercase;
    /* background-color: red; */
}

.nav{
    height: 90px;
    width: 40%;
    /* background-color: green; */
    display: flex;
}


.nav-item{
    width: 20%;
    height: 90px;
    /* background-color: gray; */
    font-family: segoe UI;
    font-weight: bold;
    text-align: center;
    line-height: 90px;
    color: rgb(238, 241, 241);
    cursor: pointer;
    transition: .4s;
}

.nav-item:hover {
    background-color: rgb(16, 16, 17);
    color: white;
    
}

.banner{
    height: 95vh;
    width: 100%;
    /* background-color: gray; */
    background-size: cover;
    background-image: url('./images/b1.jpg');
}

.overlay{
    height: 95vh;
    width: 100%;
    background-color: rgba(56, 53, 53, 0.3);
    display: flex;
    align-items: center;
}

.banner_text{
    height: 350px;
    width: 50%;
    background-color: rgba(44, 163, 179, 0.904);
    font-family: segoe UI;
    display: flex;
    align-items: center;
    color:white;
}

.banner_title{
    font-size: 50px;
    margin-bottom: 15px;
}

.banner_desc{
    margin-bottom: 30px;
}

.padd{
    padding: 50px;
    /* background-color: red; */
}

.banner_btn{
    padding-left: 60px;
    padding-right:60px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    background-color: transparent;
    color: rgb(250, 250, 245);
    font-weight: bold;
    font-size: 16px;
    font-family: segoe ui;
    border:3px solid rgb(196, 196, 191);
    cursor: pointer;
    transition: .5s;
}

.banner_btn:hover{
    background-color: rgba(250, 248, 248, 0.5);
    color: rgb(0, 15, 6);
}

/* css for programs  */

.programs{
    padding-top:50px;
    padding-bottom: 50px;
    background-color:rgba(97, 151, 179, 0.8);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: segoe UI;
    color: rgb(247, 247, 243);
}

.programs_container{
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.program{
    height: 400px;
    width: 47%;
    background-color:  rgba(73, 81, 82, 0.5);
    display: flex;
    margin-top: 20px;
    border-radius: 12px;
    border: 2px solid rgb(247, 247, 242);
}


.program_img{
    width: 40%;
    height: 400px;
    /* background-color: blue; */
    display: flex;
    overflow: hidden;
    border-radius: 12px;
    border-right: 3px solid rgb(250, 250, 247);
}

.program_details{
    width: 60%;
    height: 400px;
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.program_padd{
    padding: 20px;
}


.program_btn{

    padding-left: 60px;
    padding-right:60px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    background-color: rgba(249, 252, 250, 0.904);
    border-radius: 12px;
    color: rgb(24, 23, 23);
    font-weight: bold;
    font-family: segoe ui;
    border:none;
    cursor: pointer;
    transition: .4s;

}

.program_title{
    margin-bottom: 15px;
}

.program_desc{
    margin-bottom: 30px;
}

/* css for about  */

.about{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: rgb(252, 248, 248);
    display: flex;
    flex-direction: column;
    font-family: segoe UI;
    align-items: center;
}

.about_container{
    margin-top: 30px;
    background-color: rgba(72, 233, 225, 0.938);
    padding: 10px;
    line-height: 40px;
    display: inline;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
}

.start_text{
    font-size: 30px;
    font-weight: bold;
    /* color: rgb(252, 252, 248); */
}


/* css for highlights  */

.highlight{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100% impotant;
    background-color:rgba(187, 172, 172, 0.7);
    display: flex;
    justify-content: center;
    border: 2px solid rgb(17, 17, 17);
}

.highlight_container{
    justify-content: space-between;
}


.high_ele{
    width: 22%;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Segoe UI;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    transition: .3s;
}

.high_ele:hover{
    transform: translateY(-8px);

}

.high_title{
    font-size: 60px;
}

.high_desc{
    font-size: 25px;
}

/* css for quote  */

.quote{
    height: 160px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    font-family: Segoe UI;
    color: white;
}

.quote_container{
    flex-direction: column;
    align-items: center;
}

.quote_title{
    font-size: 50px;
    margin-bottom: 20px;
}


.quote_btn{
    padding-left: 60px;
    padding-right:60px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    background-color: rgb(250, 250, 246);
    color: black;
    font-weight: bold;
    font-family: segoe ui;
    border:none;
    cursor: pointer;
    transition: .5s;
}
.quote_btn:hover{
    transform: translateY(8px);
    border: 2px solid rgb(17, 17, 17);
    background-color: rgb(115, 121, 121);
    color: rgb(252, 250, 250);
}



/* css for portfolio  */

.portfolio{
    /* padding-top: 40px; */
    /* padding-bottom: 40px; */
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e4e4e4;
    font-family: segoe UI;
}

.portfolio_container{
    width: 100%;
    flex-wrap: wrap;
}

.project{
    width: 25%;
    height: 280px;
    background-color: red;
    display: flex;
    overflow: hidden;
}

.project_1{
    background-image: url('https://images.pexels.com/photos/1639729/pexels-photo-1639729.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
}

.project_2{
    background-image: url('https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    align-items: flex-end;
}
.project_3{
    background-image: url('https://images.pexels.com/photos/315788/pexels-photo-315788.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
}
.project_4{
    background-image: url('https://images.pexels.com/photos/4450334/pexels-photo-4450334.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    align-items: flex-end;
}
.project_5{
    background-image: url('https://images.pexels.com/photos/2570139/pexels-photo-2570139.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
}
.project_6{
    background-image: url('https://images.pexels.com/photos/2041540/pexels-photo-2041540.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    align-items: flex-end;
}
.project_7{
    background-image: url('https://images.pexels.com/photos/674783/pexels-photo-674783.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
}
.project_8{
    background-image: url('https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    align-items: flex-end;
}

.project_title{
    color: white;
    width: 100%;
    height: 140px;
    text-indent: 30px;
    line-height: 200px;
    background-color:rgba(54, 51, 51, 0.5);
    cursor: pointer;
    transition: .4s;
}


.project_title:hover{
    height: 280px;
}

/* css for footer  */

.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
}

.footer_logo{
    height: 240px;
}
    

.footer_child{
    height: 200px;
    width: 25%;
    /* background-color: gray; */
    font-family: segoe UI;
    display: flex;
    justify-content: center;
    
}

ul {
    margin-top: 40px;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    color: rgb(255, 255, 251);
}

.first{
    font-size: 22px;
}


.footer_child_4{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */

}

.social_container{
    width: 80%;
    justify-content: space-between;
}   

.social_icon{
    height: 50px;
    width: 50px;
    /* background-color: white; */
    background-size: cover;
    border-radius: 8px;
    /* border: 2px solid rgb(17, 17, 17); */
    cursor: pointer;
    transition: .2s;
}

.social_icon:hover{
    transform: translateY(-7px);
}

.si1{
    background-image: url('./images/facebook.png');
}

.si2{
    background-image: url('./images/google.png');
}

.si3{
    background-image: url('./images/linkedin.png');
}

.si4{
    background-image: url('./images/instagram.png');
}







